.mainContainer {
    text-align: center;
}
.middleContainer {
    display: flex;
    flex-wrap: wrap;
}
.box {
    background-color: beige;
    
    padding: 20px;
    margin: 10px;

    font-size: 1.2em;
}
mark {
    background-color: #fedf1770;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .middleContainer {
        flex-wrap: nowrap;
    }
}