.mainContainer {
    text-align: center;
}
.middleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    border-bottom: 1px solid black;
    background-color: beige;
    padding: 20px;
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .middleContainer {
        flex-wrap: nowrap;
    }
    .box {
        border-bottom: none;
    }
}