.Products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em;
}

.Product {
    text-align: center;
    height: 6em;
    margin: 1em;
}

.Product button:first-child {
    height: 100%;
    width: 100%;
    font-size: larger;
}

.DeleteProductBtn {
    position: relative;
    float: left;
    bottom: 7em;
    height: 2.0em;
    width: 2.0em;
    margin: 0.3em;
}
/* 
.AddProduct {
    margin: 1em;
} */

.AddProductBtn {
    background-color: lightskyblue;
    padding: 0.5em;
    margin: 1em 1em 1em 0;
}

.AddBtn {
    display: block;
    background-color: lightskyblue;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
}

.DeleteRoomBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
    padding: 0.5em;
    background-color: red;
}
