.App {
    position: relative;
    text-align: center;
    border: 1px solid black;
    margin: auto;
    max-width: 40em;
}

.Exit {
    font-size: larger;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em;
}
