html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e45853;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

/* Replace bootstrap blue border and shadow */
.no-shadow:focus {
    border: .1rem solid #891204;
    box-shadow: .2rem .2rem .1rem #891204;
}

.form-signin input[type='text'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Header Font */
h1.h3 {
    color: #891204;
    font-family: 'Lato', sans-serif;
}

/* Sign in button */
button[type='submit'] {
    background-color: #811c1c;
    border: none;
}
button[type='submit']:hover {
    background-color: #891204;
}

.footer {
    color: #891204;
}

/* Bootstrap stuff */
img.mb-4 {
    height: 7em;
    width: 7em;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}