/* ===========================================
     page structure
   =========================================== */

/* Set a DIV in the center of the window */
div.page_full {
   width:840px;
   }

/* ===========================================
     main structure
   =========================================== */

/* Set a DIV in the center of the main window */
div.main_full {
   width:840px;
   }

/* ===========================================
     title bar
   =========================================== */

div.title_total {
   width:840px;
   height:40px;
   }

/* ===========================================
     Right side bar of the TEXT
   =========================================== */

div.right_side_width {
   width:0px;
   }

/* ===========================================
     Left side bar of the TEXT
   =========================================== */

div.left_side_width {
   width:0px;
   }

/* ===========================================
     middle TEXT area
   =========================================== */

div.middle_gap_width {
   width:540px;
   }

/* ===========================================
     tail bottom bar/line
   =========================================== */

div.tail_total {
   width:840px;
   }

/* ===========================================
     Decorative links Style
   =========================================== */

// next/prev chapter
   .class_nextprev {
   }

// next/prev chapter
a.class_nextprev {
   }

a.class_nextprev:hover {
   color:#E20;
   background-color:#FF4;
   }

// chapters index at bottom of page
.class_hl_menu {
}

a.class_hl_menu {
}

// chapter index (main subject)
.class_hl2_menu {
}

// topics index (used in main page)
.class_hl3_menu_table {
}

.class_hl3_menu_title_topic {
}

.class_hl3_menu_title_topic_b {
}

.class_hl3_menu_title_subject {
}

.class_hl3_menu {
}

// go back-up to top of the page
div.return_up {
   width:100%;
   height:20px;
   }
