.game {
    border: 1px solid green;
}

.game h3 {
    font-size: 35px;
    margin: 0.3em;
    text-align: left;
}

.down {
    display: flex;
    justify-content: space-between;
}

.game button {
    position: relative;
    margin: 1em 1.5em;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.card {
    margin: 1em auto;
    max-height: 20em;
    max-width: 10em;
    border: 1px solid white;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardNumber {
    font-size: 10em;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
