.container {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 367px;
    margin: 100px auto;
    /* border: 1px solid black; */

    text-align: center;
}

#calcInput {
    display: flex;
    position: relative;

    width: 100%;
    height: 40px;
    font-size: larger;
}

.BtnNum,
.Btn {
    width: 80px;
    height: 80px;
    font-size: larger;
}

.InputRow {
    position: relative;
    display: inline-flex;
    width: 300px;
}

.Row {
    position: relative;
    display: inline-flex;
}
