.container {
    position: relative;
    
    display: flex;
    flex-flow: column nowrap;

    width: 500px;
    height: 300px;
    border: 1px solid green;

    padding: 20px;
    margin: 30px auto;
    
    text-align: center;
}

.content_top {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.content_bottom {
    display: inline-flex;
    margin-top: 50px;
}

/* section {
    justify-content: center;
    padding: 0;
    margin: 0;
} */

#list_p { margin-bottom: 0; }
#button { margin-left: auto; }

.calcInput {
    padding: 10px;
    background-color: steelblue;
}

/* input[type="submit"] {
    padding: 30px;

    align-self: baseline;
} */

#labelCurrencyType {
    position: relative;
    display: inline-flex;
    top: 40px;
    left: 10px;
}