.container {
    position: relative;
    
    display: flex;
    flex-flow: column nowrap;

    width: 500px;
    height: 300px;
    border: 1px solid green;

    padding: 20px;
    margin: 30px auto;
    
    text-align: center;
}

.content_top {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.content_bottom {
    display: inline-flex;
    margin-top: 50px;
}

.calcInput {
    padding: 10px;
    background-color: steelblue;
}

#labelCurrencyType {
    position: relative;
    display: inline-flex;
    top: 40px;
    left: 10px;
}

#list_p { margin-bottom: 0; }
#button { margin-left: auto; }
input:disabled { background-color: red; }
#currencyDisabled::before { content: "(Disabled) "; }


/* input[type="submit"] {
    padding: 30px;

    align-self: baseline;
} */