body {
    text-align: center;
}

h1 {
    font-family: 'Rubik Glitch', cursive;
    font-size: 4em;
}

p {
    width: 70vh;
    margin: auto;
}

.pay {
    padding: 10px;
    margin: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #A5BECC;
}

.pay:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pay:active {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.container {
    display: flex;
}

.content {
    width: 80vh;
    height: 80vh;
}

.navigator {
    width: 20vh;
    height: 100vh;
    background-color: aqua;
}

.nav-btn {
    width: 10vw;
    height: 10vh;
}