body {
    background-color: #e45853;
    font-family: 'Lato', sans-serif;
}

img {
    width: 5em;
}

.footer {
    position: relative;
    text-align: center;
    color: #891204;
    top: 10vh;
}

#container {
    margin: 0 auto;
    text-align: center;
}

#board {
    margin: 0 auto;

    min-width: 360px;
    min-height: 350px;
}

#loader {
    position: relative;
    right: 35px;
}

#finish {
    background-color: #00b8a9;
}

#again {
    background-color: #f6416c;
}

#howMuch {
    width: 30px;
}

.howMuch {
    display: none;
    margin: 5px 0;
}

#board .input {
    text-align: center;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    margin: 0.5px;
}

.difficulty {
    margin: 10px;
    padding: 5px 10px;
}

.button-down {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 10%;
}

.group-1 {
    background-color: darkseagreen;
}
.group-2 {
    background-color: aqua;
}
.group-3 {
    background-color: rgb(48, 160, 81);
}
.group-4 {
    background-color: chartreuse;
}
.group-5 {
    background-color: cornflowerblue;
}
.group-6 {
    background-color: #baffb4;
}
.group-7 {
    background-color: #f2789f;
}
.group-8 {
    background-color: rgb(87, 52, 70);
}
.group-9 {
    background-color: deepskyblue;
}

.checkbox-custom {
    display: inline-block;
    bottom: -3px;
}

.difficulty {
    box-shadow: inset 0px 34px 0px -15px #b54b3a;
    background-color: #a73f2d;
    border: 1px solid #241d13;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #7a2a1d;
}
.difficulty:hover {
    background-color: #b34332;
}
.difficulty:active {
    position: relative;
    top: 1px;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeEffect {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
