body {
    height: 100%;

    background-color: #e45853;
    align-items: center;

    padding-top: 20px;

    font-family: 'Lato', sans-serif;
}

img {
    width: 7%;
}

#container {
    margin: 0 auto;
    text-align: center;
}

#board {
    margin: 0 auto;

    min-width: 400px;
    min-height: 350px;
}

#loader {
    position: relative;
    right: 35px;
}

.input {
    text-align: center;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    border: 1px solid black;
}
.input:disabled {
    color: #000000a6;
}

.button-up {
    margin: 10px;
    padding: 5px 10px;
}

.button-down {
    margin: 0 10px;
    padding: 5px 10px;
}

.group-1 {
    background-color: #f2789f;
}
.group-2 {
    background-color: aqua;
}
.group-3 {
    background-color: brown;
}
.group-4 {
    background-color: chartreuse;
}
.group-5 {
    background-color: cornflowerblue;
}
.group-6 {
    background-color: #baffb4;
}
.group-7 {
    background-color: darkseagreen;
}
.group-8 {
    background-color: deeppink;
}
.group-9 {
    background-color: deepskyblue;
}

.difficulty.dif1 {
    background-color: #ffa1c9;
}
.difficulty.dif2 {
    background-color: #f94892;
}
.difficulty.dif3 {
    background-color: #e60965;
}
.difficulty.dif4 {
    background-color: #fbe5e5;
}

.howMuch {
    display: none;
}
